{
  "openapi": "3.0.1",
  "info": {
    "title": "TRAVEL COMPOSITOR API",
    "description": "  <h4> Documentation: </h4>\n      <ul>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#Introduction\">Introduction</a></li>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#ApiAccomodation\">Accommodation API</a></li>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#ApiTransport\">Transport API</a></li>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#ApiTransfer\">Transfer API</a></li>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#ApiClosedTour\">Closed Tour API</a></li>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#ApiTicket\">Ticket API</a></li>\n        <li><a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#Webhooks\">Webhooks</a></li>\n      </ul>\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://online.travelcompositor.com/resources"
    },
    {
      "url": "/resources/"
    }
  ],
  "tags": [
    {
      "name": "Book - Accommodation",
      "description": "Booking flow: </br>   1 - Quote accommodations </br>   2 - Quote single accommodation (It is recommended to retrieve all combinations of a accommodation if the 'quoteSingleNeeded' quote accommodation attribute is true.) </br>   3 - Confirm accommodation </br>   4 - Prebook accommodation </br>   5 - Book accommodation </br> </br>   <a href=\"https://online.travelcompositor.com/resources/api-accommodation/TravelC_Api_Accommodation.postman_collection.json\" download>Postman flow example</a>"
    },
    {
      "name": "Book - Closed Tour",
      "description": "Booking flow: </br>   1 - Quote Closed Tour </br>   2 - Confirm Closed Tour </br>   3 - Prebook Closed Tour </br>   4 - Book Closed Tour </br> </br>   <a href=\"https://online.travelcompositor.com/resources/api-closedtour/TravelC_Api_ClosedTour.postman_collection.json\" download>Postman flow example</a>"
    },
    {
      "name": "Book - Multi-engine",
      "description": "Booking flow: </br>   1 - Quote transports and accommodations</br>   2 - Confirm </br>   3 - Prebook </br>   4 - Book </br> </br>   <a href=\"https://online.travelcompositor.com/resources/api-multi-engine/TravelC_Api_Multi-Engine.postman_collection.json\" download>Postman flow example</a>"
    },
    {
      "name": "Book - Ticket",
      "description": "Booking flow: </br>   1 - Quote tickets </br>   2 - Quote single ticket </br>   3 - Confirm ticket </br>   4 - Prebook ticket </br>   5 - Book ticket </br> </br>   <a href=\"https://online.travelcompositor.com/resources/api-ticket/TravelC_Api_Ticket.postman_collection.json\" download>Postman flow example</a>"
    },
    {
      "name": "Book - Transfer",
      "description": "Booking flow: </br>   1 - Quote Transfer </br>   2 - Confirm Transfer </br>   3 - Prebook Transfer </br>   4 - Book Transfer </br> </br>   <a href=\"https://online.travelcompositor.com/resources/api-transfer/TravelC_Api_Transfer.postman_collection.json\" download>Postman flow example</a>"
    },
    {
      "name": "Book - Transports",
      "description": "Booking flow: </br>1 - Quote transports </br>2 - Confirm transport/s </br>3 - Prebook transport/s </br>4 - Book transport/s </br> </br><a href=\"https://online.travelcompositor.com/resources/api-transport/TravelC_Api_Transports.postman_collection.json\" download>Postman flow example</a>"
    }
  ],
  "paths": {
    "/booking/accommodations/{accommodationId}/book": {
      "post": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Book accommodation",
        "description": "This method create the book of a combination for an accommodation. </br> </br>- <b>combinationKey</b> is the key returned in <b>/booking/accommodations/{accommodationId}/prebook</b>. </br> </br>- The <b>fakeBooking</b> attribute is optional. If not sent, the booking will be closed as BOOKED in the test environment or real state in real environment. To close the booking correctly the status must be BOOKED. If you want to simulate an error, you can send BOOK_ERROR. With the attribute <b>fakeBooking</b> the booking will not be persisted in the system.",
        "operationId": "book",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAccommodationBookRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationBookedResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/accommodations/{accommodationBookingReference}": {
      "get": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Accommodation booking detail",
        "description": "This method return the booking of accommodation.",
        "operationId": "getAccommodationBookedDetail",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationBookedResponseVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Refresh accommodation booking",
        "description": "This method refreshes the booking by retrieving the data from the provider.",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationBookedResponseVO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Cancel accommodation",
        "description": "This method cancel the booking of accommodation",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationBookedResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/accommodations/{accommodationId}/confirm": {
      "post": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Confirm accommodation",
        "description": "This method returns the confirmation of a rate for an accommodation. </br> </br>- It also returns the required passenger fields for that accommodation. The contact person will always be the first passenger of the booking. </br>- <b>combinationKey</b> is the combination selected in <b>/booking/accommodations/{accommodationId}/quote</b>",
        "operationId": "confirm",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAccommodationConfirmRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationConfirmResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/accommodations/{accommodationBookingReference}/cancellation-fee": {
      "get": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Cancellation fees",
        "description": "This method refund the amount of the penalty in the case of cancellation of the booking on the current day.",
        "operationId": "getCancellationFee",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBookCancellationFeeResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/accommodations/{accommodationId}/prebook": {
      "post": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Prebook accommodation",
        "description": "This method create the prebook of a rate for an accommodation. </br> </br>- The contact person will always be the first passenger of the booking. </br>- <b>combinationKey</b> is the key returned in <b>/booking/accommodations/{accommodationId}/confirm</b>",
        "operationId": "prebook",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAccommodationPrebookRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationPreBookResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/accommodations/quote": {
      "post": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Quote accommodations",
        "description": "This method returns the best accommodation combinations by default. To return all available combinations, the <b>bestCombinations</b> parameter must be set to false.. </br> </br>- The <b>combinationKey</b> attribute is all that is needed to book a combination of an accommodation. Always use the <b>combinationKey</b> from the previous step.",
        "operationId": "quote",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAccommodationQuoteRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationQuoteResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/accommodations/{accommodationId}/quote": {
      "post": {
        "tags": [
          "Book - Accommodation"
        ],
        "summary": "Quote accommodation",
        "description": "This method returns all combinations of an accommodation. </br> </br>- The <b>combinationKey</b> attribute is all that is needed to book a combination of an accommodation. Always use the <b>combinationKey</b> from the previous step.",
        "operationId": "quoteSingleAccommodation",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAccommodationQuoteSingleAccommodationRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAccommodationQuoteSingleAccommodationResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/{accommodationId}/datasheet": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Returns a accommodation datasheet",
        "description": "This method returns a accommodation datasheet.",
        "operationId": "getAccommodationDataSheet",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationId",
            "in": "path",
            "description": "Accommodations code",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticContentAccommodationDataSheetVO"
                }
              }
            }
          }
        }
      }
    },
    "/accommodations": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Returns the active accommodations",
        "description": "To retrieve the accommodation datasheet use '/accommodations/{accommodationId}/datasheet' or '/accommodations/datasheet'",
        "operationId": "getAccommodations",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First result",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": true,
            "schema": {
              "maximum": 20000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticContentAccommodationsVO"
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/datasheet": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Returns a list of accommodations datasheet",
        "description": "This method returns a list of accommodations datasheet.",
        "operationId": "getAccommodationsDataSheet",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accommodationId",
            "in": "query",
            "description": "Accommodations code",
            "required": true,
            "schema": {
              "maxItems": 100,
              "minItems": 1,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticContentAccommodationsDataSheetVO"
                }
              }
            }
          }
        }
      }
    },
    "/accommodations/preferred/{micrositeId}": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return preferred accommodations",
        "description": "This method returns preferred accommodations in a given microsite. You can filter by country or destination and get the names in several languages.",
        "operationId": "getPreferredHotels",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationId",
            "in": "query",
            "description": "Destination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHotelRS"
                }
              }
            }
          }
        }
      }
    },
    "/agency/{micrositeId}": {
      "get": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Return agencies by microsite",
        "description": "This method returns the list of agencies of a given microsite.",
        "operationId": "getAgencies",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First result",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "maximum": 100,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgencyRS"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Updates an existing agency",
        "description": "This method updates an existing agency. If you need to create a new agency you have to invoke the POST variant",
        "operationId": "updateAgency",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plainfees",
            "in": "query",
            "description": "Set fees as provided",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyVO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Creates a new agency",
        "description": "This method creates a new agency. If you need to update an existing agency you have to invoke the PUT variant.",
        "operationId": "createAgency",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plainfees",
            "in": "query",
            "description": "Set fees as provided",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyVO"
                }
              }
            }
          }
        }
      }
    },
    "/agency/{micrositeId}/{agencyId}": {
      "get": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Return agency by its ID",
        "description": "This method returns information about an agency, given its identifier",
        "operationId": "getAgency",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyId",
            "in": "path",
            "description": "Agency",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyVO"
                }
              }
            }
          }
        }
      }
    },
    "/agency/agencyCredit/{micrositeId}/{agencyId}": {
      "get": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Return agency credit balance by its ID",
        "description": "This method returns information about the credit balance of an agency, given its identifier.",
        "operationId": "getAgencyCredit",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyId",
            "in": "path",
            "description": "Agency",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyCreditVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Increase the credit of an existing agency by its ID",
        "description": "This method increases the credit of an existing agency, given its identifier",
        "operationId": "increaseAgencyCredit",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyId",
            "in": "path",
            "description": "Agency",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyDepositVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyCreditVO"
                }
              }
            }
          }
        }
      }
    },
    "/agencymanager/{micrositeId}/{agencyManagerId}": {
      "get": {
        "tags": [
          "Users and Agencies"
        ],
        "summary": "Return agency manager by its ID",
        "description": "This method returns information about an agency manager, given its identifier",
        "operationId": "getAgency_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyManagerId",
            "in": "path",
            "description": "AgencyManager",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyManagerVO"
                }
              }
            }
          }
        }
      }
    },
    "/airline/{micrositeId}": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return airlines by microsite",
        "description": "This method return all airlines available for a given microsite",
        "operationId": "getAirlines",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAirlineRS"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Return auth token",
        "description": "This method is the first one you have to invoke, so it will return a valid API token. You need this API token in order to invoke any other method. A valid auth token expires after some time, so you'll need to get another token when the first one expires",
        "operationId": "authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authentication"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthenticationRS"
                }
              }
            }
          }
        }
      }
    },
    "/booking/bookings": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Return bookings basic data by operator or microsite",
        "description": "This method queries for trip bookings. You can filter by operator or by microsite (if you have authorization to do so). You must enter a range of dates to search for bookings",
        "operationId": "bookings",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator",
            "in": "query",
            "description": "Operator",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "microsite",
            "in": "query",
            "description": "Microsite",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From creation date (yyyyMMdd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": 20221024
          },
          {
            "name": "fromtime",
            "in": "query",
            "description": "From creation time (HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "partial-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To creation date (yyyyMMdd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": 20221126
          },
          {
            "name": "totime",
            "in": "query",
            "description": "To creation time (HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "partial-time"
            }
          },
          {
            "name": "fromDepartureDate",
            "in": "query",
            "description": "Departure date from (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDepartureDate",
            "in": "query",
            "description": "Departure date up to (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ufrom",
            "in": "query",
            "description": "From last update date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "uto",
            "in": "query",
            "description": "To last update date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cfrom",
            "in": "query",
            "description": "From cancel date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cto",
            "in": "query",
            "description": "To cancel date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "Reference (booking reference, provider booking reference, order number, deferred order number, PNR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First result",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "User's Name that made the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingsVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/{serviceType}/{serviceId}/cancel": {
      "put": {
        "tags": [
          "Booking"
        ],
        "summary": "Cancel a booking service",
        "description": "This method cancels a service from a booking",
        "operationId": "cancel_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServiceType"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelBookingRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBookingResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/getBookings/{micrositeId}/{bookingReference}": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Return booking by reference",
        "operationId": "getBookings",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "description": "Reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookedTripVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/getBookings": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Return bookings by operator or microsite",
        "description": "This method queries for trip bookings. You can filter by operator or by microsite (if you have authorization to do so). You must enter a range of dates to search for bookings",
        "operationId": "getBookings_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator",
            "in": "query",
            "description": "Operator",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "microsite",
            "in": "query",
            "description": "Microsite",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From creation date (yyyyMMdd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": 20221024
          },
          {
            "name": "fromtime",
            "in": "query",
            "description": "From creation time (HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "partial-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To creation date (yyyyMMdd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": 20221126
          },
          {
            "name": "totime",
            "in": "query",
            "description": "To creation time (HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "partial-time"
            }
          },
          {
            "name": "fromDepartureDate",
            "in": "query",
            "description": "Departure date from (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDepartureDate",
            "in": "query",
            "description": "Departure date up to (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ufrom",
            "in": "query",
            "description": "From last update date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "uto",
            "in": "query",
            "description": "To last update date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cfrom",
            "in": "query",
            "description": "From cancel date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "cto",
            "in": "query",
            "description": "To cancel date (yyyyMMdd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "Reference (booking reference, provider booking reference, order number, deferred order number, PNR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First result",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "User's Name that made the booking",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBookingRS"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/booking/{bookingReference}/{serviceType}/{serviceId}/cancellation-fee": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Cancellation fees for booking service",
        "description": "This method refund the amount of the penalty in the case of cancellation of the booking on the current day.",
        "operationId": "getCancellationFee_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ServiceType"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationFeeResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/client-requests/{clientRequestId}/close": {
      "put": {
        "tags": [
          "Booking - Client Request"
        ],
        "summary": "Closes an existing client request",
        "description": "This method close an existing Client Request.",
        "operationId": "clientRequestClose",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "description": "Booking Reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientRequestId",
            "in": "path",
            "description": "Client Request Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRequestVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/client-requests": {
      "post": {
        "tags": [
          "Booking - Client Request"
        ],
        "summary": "Creates a new client request",
        "description": "This method creates a Client Request and attach to indicated booking.If you need to open, create or reply an existing Client Request you have to invoke the PUT function",
        "operationId": "clientRequestCreate",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "description": "Booking Reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRequestVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/client-requests/{clientRequestId}/open": {
      "put": {
        "tags": [
          "Booking - Client Request"
        ],
        "summary": "Opens an existing client request",
        "description": "This method opens an existing Client Request.",
        "operationId": "clientRequestOpen",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "description": "Booking Reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientRequestId",
            "in": "path",
            "description": "Client Request Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRequestVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/client-requests/{clientRequestId}/reply": {
      "post": {
        "tags": [
          "Booking - Client Request"
        ],
        "summary": "Reply to an existing client request",
        "description": "This method allow to reply to an existing Client Request.",
        "operationId": "clientRequestReply",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "description": "Booking Reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientRequestId",
            "in": "path",
            "description": "Client Request Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRequestAddMessageVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRequestVO"
                }
              }
            }
          }
        }
      }
    },
    "/closedtour/{supplierId}": {
      "put": {
        "tags": [
          "Contract - Closed tour"
        ],
        "summary": "Updates an existing closed tour",
        "description": "This method updates an existing closed tour. If you need to create a new ticket, you have to invoke the POST variant. WARNING: price field is deprecated and will be ignored. Prices are now loaded directly into each closed tour option.",
        "operationId": "updateClosedTour",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "Supplier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractClosedTourVO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractClosedTourVO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contract - Closed tour"
        ],
        "summary": "Creates a new closed tour",
        "description": "This method creates a new closed tour for a specific supplier. If you need to update and existing closed tour, you have to invoke the PUT variant. WARNING: price field is deprecated and will be ignored. Prices are now loaded directly into each closed tour option.",
        "operationId": "createClosedTour",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "Supplier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractClosedTourVO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractClosedTourVO"
                }
              }
            }
          }
        }
      }
    },
    "/closedtour/{supplierId}/{closedTourCode}": {
      "get": {
        "tags": [
          "Contract - Closed tour"
        ],
        "summary": "Return closed tour by its code",
        "description": "This method returns an specific closed tour given its code and supplier. WARNING: price field is deprecated and will always be 0. Prices are now loaded directly into each closed tour option.",
        "operationId": "getClosedTour",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "Supplier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "closedTourCode",
            "in": "path",
            "description": "Closed tour",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractClosedTourVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contract - Closed tour"
        ],
        "summary": "Updates an existing closed tour option",
        "description": "This method updates and existing closed tour option. If you need to create a new closed tour option, you have to invoke the POST variant.",
        "operationId": "updateClosedTourOption",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "Supplier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "closedTourCode",
            "in": "path",
            "description": "Closed tour",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractClosedTourOptionVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractClosedTourOptionVO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contract - Closed tour"
        ],
        "summary": "Creates a new closed tour option",
        "description": "This method creates a new option for an existing closed tour. If you need to update an existing closed tour option, you have to invoke the PUT variant.",
        "operationId": "createClosedTourOption",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "Supplier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "closedTourCode",
            "in": "path",
            "description": "Closed tour",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractClosedTourOptionVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractClosedTourOptionVO"
                }
              }
            }
          }
        }
      }
    },
    "/closedtour/{supplierId}/{closedTourCode}/{optionCode}": {
      "get": {
        "tags": [
          "Contract - Closed tour"
        ],
        "summary": "Return closed tour options by code",
        "description": "This method returns available options for a given closed tour.",
        "operationId": "getOptions",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "Supplier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "closedTourCode",
            "in": "path",
            "description": "Closed tour",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optionCode",
            "in": "path",
            "description": "Option",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractClosedTourOptionVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/closedtour/{closedTourId}/book": {
      "post": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Book Closed Tour",
        "description": "This method create the book of a modality for an closed tour. </br> </br>- <b>tourKey</b> is the key returned in <b>/booking/closedtour/{closedTourId}/prebook</b> </br>- The <b>fakeBooking</b> attribute is optional. If not sent, the booking will be closed as BOOKED in the test environment or real state in real environment. To close the booking correctly the status must be BOOKED. If you want to simulate an error, you can send BOOK_ERROR. With the attribute <b>fakeBooking</b> the booking will not be persisted in the system.",
        "operationId": "book_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiClosedTourBookRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourBookedResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/closedtour/{closedTourBookingReference}": {
      "get": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Closed Tour booking detail",
        "description": "This method return the booking of closed Tour.",
        "operationId": "getClosedTourBookedDetail",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourBookedResponseVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Refresh closed tour booking",
        "description": "This method refreshes the booking by retrieving the data from the provider.",
        "operationId": "refresh_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourBookedResponseVO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Cancel closedtour",
        "description": "This method cancel the booking of closedtour",
        "operationId": "cancel_2",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourBookedResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/closedtour/{closedTourId}/confirm": {
      "post": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Confirm Closed Tour",
        "description": "This method returns the confirmation of a rate for a Closed Tour. </br>",
        "operationId": "confirm_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiClosedTourConfirmRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourConfirmResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/closedtour/{closedTourId}/accommodation": {
      "post": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Get Closed Tour Accommodation Options",
        "description": "This method returns the confirmation of a rate for a Closed Tour. </br>",
        "operationId": "getAccommodationOptions",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiClosedTourAccommodationOptionCombinationsRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourAccommodationOptionCombinationsResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingReference}/closedtour/{closedTourBookingReference}/cancellation-fee": {
      "get": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Cancellation fees",
        "description": "This method refund the amount of the penalty in the case of cancellation of the booking on the current day.",
        "operationId": "getCancellationFee_2",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourBookingReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBookCancellationFeeResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/closedtour/{closedTourId}/prequotedata": {
      "post": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Get possible closed Tour additional data",
        "description": "This method returns the possible additional data to perform the quote request.</br> </br>",
        "operationId": "getPrePostNights",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiClosedTourPrePostNightsClosedTourRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourPrePostNightsClosedTourResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/closedtour/{closedTourId}/prebook": {
      "post": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Prebook Closed tour",
        "description": "This method create the prebook of a modality for a closed tour. </br> </br>- The contact person will always be the first passenger of the booking. </br>- <b>tourKey</b> is the key returned in <b>/booking/closedtour/{closedTourId}/confirm</b>",
        "operationId": "prebook_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiClosedTourPrebookRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourPreBookResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/booking/closedtour/{closedTourId}/quote": {
      "post": {
        "tags": [
          "Book - Closed Tour"
        ],
        "summary": "Quote closed Tour",
        "description": "This method returns the chosen closed tour. It will also return the available modalities with their prices.</br> </br>",
        "operationId": "quote_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiClosedTourQuoteRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClosedTourQuoteResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/static/closedtour/customdatasheet/{lang}/{dataSheetId}": {
      "delete": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Deletes Custom Data Sheet",
        "description": "This method Deletes a custom  closedtour data sheet <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticdeletecustomdatasheet\"> data</a>",
        "operationId": "deleteCustomDatasheet",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          },
          {
            "name": "dataSheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/static/closedtour/{lang}/{closedTourId}": {
      "get": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Get Closed Tour",
        "description": "This method returns a Closed Tour <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticclosedtour\"> data</a>",
        "operationId": "getClosedTour_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closedTourId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticContentHolidayPackageVO"
                }
              }
            }
          }
        }
      }
    },
    "/static/closedtour/customdatasheet/{dataSheetId}": {
      "get": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Get Custom Datasheet",
        "description": "This method returns a Custom Closed Tour Datasheet <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticcustomdatasheet\"> data</a>",
        "operationId": "getCustomDatasheet",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticDatasheetResponseVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Updates Custom Datasheet",
        "description": "This method updates a Custom Closed Tour Datasheet <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticupdatecustomdatasheet\"> data</a>",
        "operationId": "updateCustomDatasheet",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ApiStaticUpdateCustomDataSheetsRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticDatasheetResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/static/closedtour/datasheet": {
      "post": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Get Datasheets",
        "description": "This method returns a provider Closed Tour Datasheets <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticdatasheets\"> data</a>",
        "operationId": "getDatasheet",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiStaticCustomDataSheetsRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticDatasheetsResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/static/closedtour/datasheet/{dataSheetId}": {
      "get": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Get Datasheet",
        "description": "This method returns a Closed Tour Datasheet <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticdatasheet\"> data</a>",
        "operationId": "getDatasheet_1",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticDatasheetResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/static/closedtour/{lang}": {
      "post": {
        "tags": [
          "Web content - Closed tour"
        ],
        "summary": "Search Closed Tours",
        "description": "This method returns Closed Tours. <a href=\"https://online.travelcompositor.com/api/documentation/index.xhtml#staticclosedtourfilter\"> Filter</a>",
        "operationId": "searchClosedTours",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiStaticContentSearchClosedTours"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStaticContentSearchClosedToursResponseVO"
                }
              }
            }
          }
        }
      }
    },
    "/cruise/{micrositeId}/{cruiseId}/departures": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return cruise departures",
        "description": "This method return the price calendar of a cruise given its ID",
        "operationId": "getCruiseDepartures",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cruiseId",
            "in": "path",
            "description": "cruiseId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCruiseDepartureRS"
                }
              }
            }
          }
        }
      }
    },
    "/cruise/{cruiseId}/itinerary": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return an itinerary by ID ",
        "description": "This method returns the destinations and the departure time of an itinerary given an ID",
        "operationId": "getCruiseItinerary",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cruiseId",
            "in": "path",
            "description": "cruiseId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CruiseItineraryVO"
                }
              }
            }
          }
        }
      }
    },
    "/cruise/{micrositeId}/cruiseLine": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return cruise line characteristics",
        "description": "This method returns the characteristics and the benefits of a cruise lines",
        "operationId": "getCruiseLineCharacteristics",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cruiseLine",
            "in": "query",
            "description": "cruiseLine",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CruiseLine"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CruiseLineCharacteristicsVO"
                }
              }
            }
          }
        }
      }
    },
    "/cruise/{micrositeId}": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return all cruises",
        "description": "This method returns all the cruises of a microsite. You can filter by region, month, port, nights, cruise line and ship.",
        "operationId": "getCruises",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "micrositeId",
            "in": "path",
            "description": "Microsite",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "region",
            "schema": {
              "$ref": "#/components/schemas/CruiseRegion"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "To filter by month use yearMonth format(YYYY-MM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originPort",
            "in": "query",
            "description": "originPort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nights",
            "in": "query",
            "description": "nights",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cruiseLine",
            "in": "query",
            "description": "cruiseLine",
            "schema": {
              "$ref": "#/components/schemas/CruiseLine"
            }
          },
          {
            "name": "ship",
            "in": "query",
            "description": "ship",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCruiseDataSheetRS"
                }
              }
            }
          }
        }
      }
    },
    "/cruise/port/{cruisePortId}": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return a port by its id",
        "description": "This method returns the port of a CruiseService by its ID",
        "operationId": "getPortById",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          },
          {
            "name": "cruisePortId",
            "in": "path",
            "description": "cruisePortId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CruisePortVO"
                }
              }
            }
          }
        }
      }
    },
    "/cruise/port": {
      "get": {
        "tags": [
          "Web content"
        ],
        "summary": "Return all ports",
        "description": "This method returns all the downloaded ports. You can filter by cruise line.",
        "operationId": "getPorts",
        "parameters": [
          {
            "name": "auth-token",
            "in": "header",
            "description": "Authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "First",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "schema": {
              "type": "integer",
              "format": "int32"
[...]
